.LogoSearch {
	display: flex;
	gap: 0.75rem;
	margin-left: 5px;
  }
  
  .Search {
	display: flex;
	/* flex-direction: column; */
	background: var(--inputColor);
	border-radius: 10px;
	padding: 5px;
	position: relative;
  }
  
  .Search>input {
	background-color: transparent;
	border: none;
	outline: none;
  }
  
  .s-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(106.23deg, #f99827, #f95f35 100%); */
	border-radius: 5px;
	padding: 4px;
	color: white;
  }
  
  .s-icon:hover {
	cursor: pointer;
  }
  
  .searchPerson {
	position: absolute;
    border-radius: 0.7rem;
    font-size: 13px;
    padding: 2px;
    background-color: #fffffffc;
    width: 22.1rem;
    left: 10px;
    top: 3.4rem;
    height: 93vh;
  }
  
  .searchColom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 27px;
  }
  
  .cutSearch {
	position: absolute;
	top: 7px;
	right: 15px;
	cursor: pointer;
  }
  
  .notFound {
	position: absolute;
	border-radius: 0.7rem;
	font-size: 13px;
	padding: 2px;
	background-color: aliceblue;
	width: 17.3rem;
	left: 10px;
	top: 5.8rem;
	height: 79vh;
  }
  .chatbox{
	display: flex;
	flex-direction: row;
	align-items:end ;
	justify-content: space-between;
  }
  .chatbtn{
	width: 58px;
    height: 27px;
    border: 2px solid #d0bfbf2e;
    border-radius: 8px;
    background: #bec9d3;
  }