.leftSide{
	display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    border: 2px solid #83776359;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 8px;
}
.userBox {
	display: flex;
    flex-direction: column;
    margin-top: 83px;
	width: 100%;
}

.imge {
	margin-left: 10px;
}

.nameBox {
	margin-left: 10px;
}

.notificationBox {
	margin-left: 11px;
}

.profileTag {
	margin-bottom: 3px;
}

.bottom {
	position: relative;
}

.bottom .far {
	transform: rotate(56deg);
	font-weight: 400;
}

.btun {
	position: absolute;
	top: 27px;
	right: -64px;
	background: transparent;
	border: none;
	
}

.createChat {
	position: absolute;
	top: 0;
	background-color: aqua;
}
.boxContent{
	display: flex;
	flex-direction: row;
}
.chat-online{
	position: absolute;
    left: -23px;
    bottom: -19px;
    color: #66b131;
}
.small{
	position: relative;
}