
.forgotPassword form input {
	padding: 8px;
	width: 96%;
	border: none;
	border-bottom: 2px solid red;
	background: none;
	font-family: 'Signika Negative', sans-serif;
	color: black;
}
.forgotPassword{
	width: 24%;
    margin: auto;
    top: 20px;
    position: absolute;
    top: 26%;
    right: 45%;
}
.forgotPassword form{
	border: 2px solid;
    border-radius: 15px;
    padding: 14px;
}
.btn{
	font-family: 'Nunito Sans';
	padding: 3px;
    margin-top: 11px;
    background: #f8c0ff85;
    border-radius: 9px;
	cursor: pointer;
}