.post_card {
  max-width: 350px;
  background-color: #ffff;
  margin: auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.top,
.body-icons {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.post_info img {
  width: 43px;
  padding: 2px;
  background-color: #ffff;
  border-radius: 69%;
  box-shadow: 0px 0px 5px 0px rgba(216, 216, 216, 216.45);
  max-height: 47px;
  object-fit: cover;
}

.post_info {
  display: flex;
}

.user-name {
  margin: 0px 10px;
}

.user-name .name {
  font-size: 13px;
  font-weight: 600;
}

.user-name p {
  font-size: 10px;
}

.top .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .left-icon .fa-comment{
	margin-left: 26px;
  } */

.user-name .id {
  color: grey;
}

/* body Styling */

.body,
.bottom-section {
  padding: 5px 26px;
}

.body img {
  height: 397px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #423d3d2e;
}

.body-icons {
  padding: 5px 0px;
}

/* Bottom Styling */

.bottom {
  margin: auto;
  display: flex;
  margin-top: 10px;
  padding: 7px;
  position: relative;
}

.bottom input {
  width: 100%;
  padding: 5px;
  padding-right: 40px;
  border-radius: 10px;
  border: 2px solid #a39e9e;
  font-size: 15px;
}

.delete {
  margin-left: 32px;
  margin-top: 5px;
}

.bottom .far {
  transform: rotate(56deg);
  position: absolute;
  right: 73px;
  font-weight: 400;
  top: 32%;
}

.bottom-section h4,
p {
  padding: 0 7px;
}

.sub-heading h6,
.sub-heading span {
  padding: 4px 10px;
  font-family: "Courier New", Courier, monospace;
}

.sub-heading span {
  color: #8441f0;
}

.sub-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.commentSection {
  background: #fff;
  position: absolute;
  right: -62px;
  bottom: 25px;
  height: 20rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid #dbcdcd;
  border-radius: 5px;
  -webkit-box-shadow: -5px 3px 11px 0px rgba(119, 136, 138, 0.81);
  -moz-box-shadow: -5px 3px 11px 0px rgba(119, 136, 138, 0.81);
  box-shadow: -5px 3px 11px 0px rgba(119, 136, 138, 0.81),
    5px 3px 11px 0px rgba(119, 136, 138, 0.81);
}

.cmt {
  justify-content: center;
  display: flex;
  align-items: cne;
  align-items: center;
  margin: 10px;
  font-weight: bolder;
}

.cmtBody {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.nameCmt {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.followerImages {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.cmtporfile {
  width: 46px;
}

.username {
  margin-bottom: 2px;
  margin-left: 3px;
  font-weight: 600;
}

.cmtContent {
  margin-left: 7px;
  font-size: small;
}

.cross {
  position: absolute;
  right: -5px;
  top: -62px;
}

.cut {
  font-size: larger;
}

.date {
  position: absolute;
  right: 0;
  bottom: 0;
  color: red;
  font-size: xx-small;
}